
  
<html>
    <div class="service-head text-center">
        <h3>I am Minusha</span></h3>
        <ul>I am an AI Fast Track student @ Centennial <br> A SAP Techno-Functional consultant<br>A JNTU-H ECE Graduate </small></h4></div></ul>
        <p>Passion for learning new things made me explore different domains and technologies. From an ECE graduate to being a SAP Techno-functional consultant and now an AI student , my interest knows no bounds when it comes to learning. I wish to use my skills for the well-being of the society, and helping people around. Looking forward to work with you and help you in anyway that I could. Please feel free to contact in case of further queries  </p>
    </div>
  
    </body>

</html>




   

  
