<html>

   
        <div class="service-head text-center">
                <h3>MY <span>SERVICES</span></h3>
                <p>Being an international student, it must be hard for students like us to manage time for the part time ,classes and assignments. This is where my services can be of use to you.</p>
                </div>
           
                    <div class="row">
                     <div class="col-12">
                         <h1>&nbsp&nbsp&nbsp&nbsp</h1>
                     </div>
                 </div>
                 
                 <div class="projects-section1">
                     <div class="row" style="margin-left: 80px; margin-top: 20px;">
                         <div class="col-md-6 how-img">
                             <img src="../../Assets/images/AIprojects.jpg" height="1200" width="1200" class="img-fluid" alt=""/>
                         </div>
                         <div class="col-md-6">
                             <h4>Artificial Intelligence Projects </h4>
                                         <h4 class="subheading">Assitance on the Artificial Intelligence student projects</h4>
                           <ul>
                                <li>Option to choose any project from a wide range of projects that we have or anything of your choice.</li>                             <li>Easy and quick search process for schemes through scheme classifiers and recommender system.</li>
                                <li>Assistance for any started or on-going project</li>
                                <li>Certificate on successful completion of the project</li>
                                <li>Gain practical experience </li>
                                
                            </ul>
                         </div>
                     </div>
                    
                        <div class="row" style="margin-left: 80px; margin-top: 20px;">
                            <div class="col-md-6 how-img">
                                <img src="../../Assets/images/Course-Logo.jpg" height="700" width="700" class="img-fluid" alt=""/>
                            </div>
                            <div class="col-md-6">
                                <h4>Classes for AI related topics </h4>
                                            <h4 class="subheading">Teaching Assitance on the Artificial Intelligence related subjects</h4>
                              <ul>
                                   <li>Flexible online classes for any subject related to AI.</li>                             
                                   <li>One on One doubt clarification session for enrolled students.</li>
                                   <li>Job opportunities for students with good scores. </li>
                                                                     
                               </ul>
                            </div>
                        </div>

 
</html>  
