<html>
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<body style="background-color:rgb(240, 187, 89);">
  <div class="row">
      <div class="col-12">
          <h1>&nbsp&nbsp&nbsp&nbsp</h1>
      </div>
  </div>
<div class="row" style="margin-left: 20px;">
  <div class="col-2"></div>
  <div class="col-2">
      <h1 class="text-white">About Me</h1>
  </div>
  <div class="col-8" style="padding-left: 0px;">
      <hr style="margin-top: 25px; border-top: 10px solid #000000;">
  </div>
</div>
  <div class="row">
      <div class="col-12">
          <h1>&nbsp&nbsp&nbsp&nbsp</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-4">
          <div class="row">
              <div class="col-2"></div>
              <div class="col-8" style="padding-top: 6px;">
                  <img src="../../assets/images/Photo.jpeg" alt="" class="">
              </div>
              <div class="col-2"></div>
          </div>                
      </div>
      <div class="col-2"></div>
      <div class="col-4">
          <div class="row">
              <div class="col-12"><h3 class="text-white"> I am Minusha Shaik!</h3></div>
          </div>
          
          <div class="row">
              <div class="col-12">
                  <p class="lead text-justify text-white">I am an IT engineer with 6 years of experience as an SAP Techno fucntional consultant.I am currently pursuing my Artificial Intelligence course in Centennial college and I have worked on several projects related to AI. I am interested in learning new technologies and helping people learn . </p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <a href="https://docs.google.com/document/d/1IuhrHtkvNjvnL-t8xYVRnRlVgz_3FEzB/edit?usp=sharing&ouid=107073545443133621768&rtpof=true&sd=true" target="_blank">
                      <button class="btn btn-block btn-primary btn-default waves-effect">
                          <i class="fas fa-file-pdf"></i> &nbsp Check My Resume
                      </button>
                  </a> 
              </div>
          </div>
                    
      </div>


  </div>
  <%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 
</body>

</html>


