<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <body style="background-color:rgb(191, 241, 90);">
    <div class="service-head text-center"> <h3> Welcome! I am glad that you are here.</h3></div>
  </body>"
     
<%- include partials/bottom_nav.ejs %>  


<%- include partials/footer.ejs %>
  




