<html>
<body style="background-color:rgb(123, 247, 247);">
   <%- include partials/header.ejs %>
   <%- include partials/main_nav.ejs %>
   <div class="service-head one text-center">
      <h4>LIST OF PROJECTS AVAILABLE</h4>
  

    <li>Predicting User's next location</li>
    <li>Identifying the genre of a song</li>
    <li>Weather forecasts</li>
    <li>System for dectecting trends in fashion</li>
    <li>Vehicle detection for traffic surveillance</li>
    <li>Covid-19 diagnosis using cough recordings</li>
    <li>Employee Authorization system using face recognition</li>

   </div>
  

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 
</body>
</html>  