/* Custom CSS */

/* Student Name : Minusha Shaik
Student ID: 301146227
Date: 23/10/2021 */



body {
    background-image: url('Assets/images/background.jpg');
    background-size: cover;
  }
  
}

    